.button {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: 24px;
  padding: 11px 12px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-transition: none 0.15s ease-in-out;
  transition: none 0.15s ease-in-out;
  -webkit-transition-property: border-color, background-color, color;
  transition-property: border-color, background-color, color;
}

.button:hover:enabled {
  background-color: rgba(132, 132, 132, 0.07);
  border-color: #848484;
}

.button:focus:enabled {
  border-color: #3a99d8;
  outline: 0;
}

.button:active, .button.active {
  background-color: rgba(132, 132, 132, 0.07);
  border-color: #848484;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button + .button {
  margin-left: 12px;
}

.button.block {
  display: block;
  width: 100%;
}

.button.block + .button.block {
  margin: 12px 0 0 0;
}

.button.large {
  font-size: 30px;
  line-height: 48px;
  padding: 11px 24px;
}

.button.small {
  font-size: 12px;
  line-height: 22px;
  padding: 0 6px;
}

.button.primary {
  background-color: #3a99d8;
  border-color: transparent;
  color: #fff;
}

.button.primary:hover:enabled {
  background-color: #65afe0;
  border-color: rgba(26, 26, 26, 0);
}

.button.primary:active, .button.primary.active {
  background-color: #257fba;
  border-color: transparent;
}

.button.link {
  background-color: transparent;
  border-color: transparent;
  color: #3a99d8;
}

.button.link:hover:enabled {
  background-color: rgba(26, 26, 26, 0);
  border-color: rgba(26, 26, 26, 0);
}

.button.link:active, .button.link.active {
  background-color: transparent;
  border-color: transparent;
}
.dropdown .selected-option, .dropdown .option {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .options {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.dropdown .option {
  line-height: 24px;
  padding: 11px 12px 12px;
  border-top: 1px solid rgba(221, 221, 221, 0.5);
  -webkit-transition: none 0.15s ease-in-out;
  transition: none 0.15s ease-in-out;
  -webkit-transition-property: border-color, background-color, color;
  transition-property: border-color, background-color, color;
}

.dropdown .option.focus, .dropdown .option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown .option.active, .dropdown .option.selected {
  background-color: #3a99d8;
  color: #fff;
}

.dropdown .option:first-child {
  border-top: none;
}

.dropdown .option:last-child {
  padding-bottom: 11px;
}

.dropdown > .trigger {
  padding-right: 30px;
  position: relative;
}

.dropdown > .trigger:after {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  border-color: currentColor transparent transparent transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 9px;
  top: 18px;
}

.dropdown.is-open > .trigger:after {
  -webkit-transform: rotate3d(0, 0, 1, 180deg);
          transform: rotate3d(0, 0, 1, 180deg);
}

.dropdown + .dropdown {
  margin-left: 12px;
}
.field, .field .dropdown, .field-element, .field-label, .field-error {
  display: block;
  width: 100%;
  vertical-align: middle;
  line-height: 24px;
}

.field.inline, .inline .field-element, .inline .field-label, .inline .field-error {
  display: inline-block;
  width: auto;
}

.field + .field {
  margin-top: 12px;
}

.field.inline {
  margin-bottom: 12px;
}

.field.inline + .field.inline {
  margin-left: 12px;
  margin-top: 0;
}

.field-element {
  padding: 11px 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.field-element.focus, .field-element:focus {
  outline: 0;
  border-color: #3a99d8;
  -webkit-box-shadow: 0 0 3px #3a99d8;
          box-shadow: 0 0 3px #3a99d8;
}

.invalid .field-element {
  border-color: #e8313d;
}

.field-element:disabled, .field-element[disabled], .field-element[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
}

.field-element[type="color"] {
  min-height: 48px;
  min-width: 48px;
}

.field-element[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
          appearance: searchfield-cancel-button;
}

.field-label {
  padding: 12px 0;
}

.inline .field-label {
  padding-right: 12px;
}

.disabled .field-label,
.readonly .field-label {
  opacity: 0.5;
}

.field-label .icon-required {
  color: #e8313d;
  margin-left: 4px;
}

.field-label .icon-required:after {
  content: "*";
}

.field-error {
  padding: 12px 0;
  color: #e8313d;
}

.inline .field-error {
  padding-left: 12px;
}
.select {
  position: relative;
}

.select .options {
  width: 100%;
}

.select select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  opacity: 0;
  z-index: -1;
}
.form-footer {
  margin-top: 24px;
  text-align: right;
}
.panel-header, .panel-body, .panel-footer {
  padding: 12px;
}

.panel {
  background-color: #fff;
  border: #ddd solid 1px;
  border-radius: 3px;
  margin-bottom: 24px;
}

.panel-header {
  background-color: #fff;
  background-clip: content-box;
}

.panel-header * {
  margin-top: 0;
  margin-bottom: 0;
}

.panel-header + div .panel-body {
  border-top: #ddd solid 1px;
}

.panel-footer {
  border-top: #ddd solid 1px;
}

.panel-footer * {
  margin-top: 0;
  margin-bottom: 0;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #000;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.5;
}

small {
  font-size: 12px;
  line-height: 24px;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  font-weight: 700;
  margin-top: 24px;
}

h1,
.h1, h2,
.h2 {
  margin-bottom: 24px;
}

h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 48px;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 48px;
}

h3,
.h3 {
  font-size: 22px;
  line-height: 24px;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 24px;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 24px;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #3a99d8;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #65afe0;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.cols-1 {
  width: 8.33333%;
}

.cols-2 {
  width: 16.66667%;
}

.cols-3 {
  width: 25%;
}

.cols-4 {
  width: 33.33333%;
}

.cols-5 {
  width: 41.66667%;
}

.cols-6 {
  width: 50%;
}

.cols-7 {
  width: 58.33333%;
}

.cols-8 {
  width: 66.66667%;
}

.cols-9 {
  width: 75%;
}

.cols-10 {
  width: 83.33333%;
}

.cols-11 {
  width: 91.66667%;
}

.cols-12 {
  width: 100%;
}

[class*=cols] {
  float: left;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}

.split {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.split .left,
.split .center,
.split .right {
  display: table-cell;
  vertical-align: top;
}

.split .left {
  text-align: left;
}

.split .center {
  text-align: center;
}

.split .right {
  text-align: right;
}

/*# sourceMappingURL=react-ui-library.css.map*/