.example {
  .run {
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .source {
    background-color: #333;
    color: #ccc;
    padding: 12px;

    pre {
      margin: 0;
    }

    code {
      white-space: pre-wrap;
    }
  }
}

.styleguide {
  padding-bottom: 48px;

  nav a {
    display: inline-block;

    + a {
      margin-left: 12px;
    }
  }
}

.main-link {
  color: #000;
}
