@import
  "../settings/borders.scss",
  "../settings/grid.scss";

// Default theme
$button-border-color: $default-border-color !default;
$button-border-style: solid !default;
$button-border-width: $default-border-width !default;
$button-border-radius: $default-border-radius !default;
$button-bg-color: transparent !default;
$button-transition: none 0.15s ease-in-out !default;
$button-transition-property: border-color, background-color, color !default;
$button-hover-border-color: darken($button-border-color, 35%) !default;
$button-hover-bg-color: rgba($button-hover-border-color, 0.07) !default;
$button-focus-border-color: $color-blue !default;
$button-active-border-color: $button-hover-border-color !default;
$button-active-bg-color: $button-hover-bg-color !default;
$button-disabled-opacity: 0.5 !default;
$button-color-difference: 10% !default;

// Sizes
$button-padding: ($gutter - $button-border-width) $gutter !default;
$button-padding-large: ($gutter - $button-border-width) $baseline-grid !default;
$button-padding-small: 0 ($gutter / 2) !default;

// Primary theme
$button-primary-color: $color-white !default;
$button-primary-bg-color: $color-blue !default;
$button-primary-border-color: transparent !default;

// Link type
$button-link-color: $color-blue !default;
$button-link-bg-color: transparent !default;
$button-link-border-color: transparent !default;

.button {
  // Base
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: $baseline-grid;
  padding: $button-padding;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  // Theme
  appearance: none;
  background-color: $button-bg-color;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  transition: $button-transition;
  transition-property: $button-transition-property;

  &:active,
  &.active {
    background-color: $button-active-bg-color;
    border-color: $button-active-border-color;
  }

  // Space between buttons when put together
  & + & {
    margin-left: $gutter;
  }

  // Hover, focus, active, disabled states
  &:hover:enabled {
    background-color: $button-hover-bg-color;
    border-color: $button-hover-border-color;
  }

  &:focus:enabled {
    border-color: $button-focus-border-color;
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }

  // Full width
  &.block {
    display: block;
    width: 100%;

    & + & {
      margin: $gutter 0 0 0;
    }
  }

  // Sizes
  &.large {
    font-size: type-font-size(3);
    line-height: type-line-height(type-font-size(3));
    padding: $button-padding-large;
  }

  &.small {
    font-size: type-font-size(-1);
    line-height: type-line-height(type-font-size(-1)) - $button-border-width * 2;
    padding: $button-padding-small;
  }

  // Primary theme
  &.primary {
    background-color: $button-primary-bg-color;
    border-color: $button-primary-border-color;
    color: $button-primary-color;

    &:active,
    &.active {
      background-color: darken($button-primary-bg-color, $button-color-difference);
      border-color: darken($button-primary-border-color, $button-color-difference);
    }

    &:hover:enabled {
      background-color: lighten($button-primary-bg-color, $button-color-difference);
      border-color: lighten($button-primary-border-color, $button-color-difference);
    }
  }

  // Link theme
  &.link {
    background-color: $button-link-bg-color;
    border-color: $button-link-border-color;
    color: $button-link-color;

    &:active,
    &.active {
      background-color: darken($button-link-bg-color, $button-color-difference);
      border-color: darken($button-link-border-color, $button-color-difference);
    }

    &:hover:enabled {
      background-color: lighten($button-link-bg-color, $button-color-difference);
      border-color: lighten($button-link-border-color, $button-color-difference);
    }
  }
}
