$color-black: #000 !default;
$color-white: #fff !default;
$color-lightest-gray: #f5f5f5 !default;
$color-light-gray: #e6e6e6 !default;
$color-gray: #ddd !default;
$color-darker-gray: #878787 !default;
$color-dark-gray: #3b3b3b !default;
$color-blue: #3a99d8 !default;
$color-red: #e8313d !default;
$color-yellow: #ffd24d !default;
