$color-black: #000 !default;
$color-white: #fff !default;
$color-gray-lightest: #f5f5f5 !default;
$color-gray-light: #e6e6e6 !default;
$color-gray: #999 !default;
$color-dark-gray: #333 !default;
$color-blue: #3a99d8 !default;
